#wrapper{
	width:1200px;
	margin:0 auto;
}

#header{
	
	height:100px;
	
	width:1200px;vertical-align:middle;
}

#header #logo{height:100px;width:240px;float:left;}

#search_div{width:950px;float:left;padding-top:40px;}
#search_div input{}

#search_div input[type=text]{
	height:34px;
	color:grey;
	font-size:25px;
	font-family:cursive;
	width:800px;
}

#search_div input[type=submit]{
	height:45px;
	padding-right:45px;
	font-size:15pt;
	background:transparent url(../images/search.jpg) no-repeat right;
	margin-left:-4px;
	font-family:Comic Sans MS;	
}
#left{float:left;width:20%;height:500px;overflow:scroll;text-align:center;}
#left  a{font-size:9pt;}
#left  h2{font-size:15pt;background-color:BlanchedAlmond;text-align:center;margin-top:2px;}
#input_from,  #input_to {color: grey; font-family:Cursive}
#get_direction_submit{margin-left:0px;background:transparent url(../images/road.jpg) no-repeat left;padding-left:40px;}
			
#right{
	float:left;
	width:80%;
	height:500px;
	position:relative
}

#map_options > a{
	background-color:#ffffff;margin:0 5px;padding:5px 40px 5px 2px;border:2px solid grey;width:100px;color:grey;
}

#map_options {
	padding:5px 0px 5px 345px;height:25px;
}

#map_container{margin:o auto;clear:both;}

hr{clear:both;margin-top:1px;}

#reset_link{
	background:transparent url(../images/reset.png) no-repeat right;
	/*padding-left:40px;*/
}


.print_link{
	background:transparent url(../images/icon_print.png) no-repeat left;
	/*padding-left:40px;*/
}

.email_link{
	background:transparent url(../images/email_ico.gif) no-repeat left;
	/*padding-left:40px;*/
}

.link_link{
	background:transparent url(../images/link_ico.gif) no-repeat left;
	/*padding-left:40px;*/
}

.map_link{
	background:transparent url(../images/map_icon.gif) no-repeat right;
	/*padding-left:40px;*/
}

.satellite_link{
	background:transparent url(../images/satellite_1.gif) no-repeat right;
	/*padding-left:40px;*/
}

div#options{
	background-color:white;
	border:2px solid grey;
	float:left;
	margin-top:-6px;
	padding:5px;
	position:relative;
	width:85px;
	z-index:1;
}

a#options_a{
	background:transparent url(../images/settings.png) no-repeat left;
	padding-left:25px;
	color:grey;
}
li{list-style:none;}
.options_container {
	display:none;
	width:45px;
	margin-bottom:0px;
	margin-top:13px;
	z-index:100;
	margin-left:-45px;
	position:relative;
}

.options_container a {
	color:grey;
}

#images_div{
	background:transparent url(../images/images_icon.jpg) no-repeat left;
	height:30px;
	width:60px;
	padding:0 0 0 30px;
}
#video_div{
	background:transparent url(../images/video_icon.jpg) no-repeat left;
	height:30px;
	width:60px;
	padding:0 0 0 30px;
}

div#img{
	display:none;
	left:500px;
	position:absolute;
	top:200px;
	z-index:100;
	padding:10px;
	background-color:black;
}

span#close_div{
	color:grey;
	cursor:pointer;
	float:right;
	margin-bottom:10px;
	padding-left:20px;
	background:transparent url(../images/pics/close.png) no-repeat left;
}

#footer{
	background-color:BlanchedAlmond;
	clear:both;
	height:25px;
	text-align:center;
	position:fixed;
	text-align:center;
	bottom:0px;
}
html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
a{text-decoration:none;}
  
#map_canvas { height: 600px;position:absolute;width:940px;top:40px; }


